<% layout("layouts/boilerplate") %>
<div class="index">
  <div class="index">
    <a href="/campgrounds/new">New Campground</a>
  </div>
  <ul class="index">
    <% for (let campground of allCampgrounds) { %>
    <li>
      <a href="/campgrounds/<%=campground._id%>"> <%= campground.title %> </a>
    </li>
    <% }; %>
  </ul>
</div>
