<% layout("layouts/boilerplate") %>
<div class="grid">
  <% for (let campground of allCampgrounds) { %>
  <div class="card">
    <a class="view" href="/campgrounds/<%=campground._id%>">
      <img src="<%= campground.image %>" alt="campground image" />
      <p><%=campground.location%></p>
      <p><%=campground.title%></p>
    </a>
  </div>
  <% }; %>
</div>
