<% layout("layouts/boilerplate") %>
<div class="grid">
  <% for (let campground of allCampgrounds) { %>
  <div class="card">
    <img src="<%= campground.image %>" alt="campground image" />
    <a href="/campgrounds/<%=campground._id%>"> <%= campground.title %> </a>
  </div>
  <% }; %>
</div>
